{% extends 'peshang_petrol/base.html' %}
{% load static %}
{% block body %}
<div class="row mt-0">
  <div class="col-12">
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-4">
          <input type="date" class="form-control mt-2" placeholder="Start Date" name="start_date" required oninvalid="this.setCustomValidity('Enter start date here')"
          oninput="this.setCustomValidity('')"/>
        </div>
        <div class="col-sm-4">
          <input type="date" class="form-control mt-2" placeholder="End Date" name="end_date" required oninvalid="this.setCustomValidity('Enter end date here')"
          oninput="this.setCustomValidity('')"/>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-outline-secondary w-100 mt-2">  <i class="fa-solid fa-magnifying-glass"></i>بگەڕێ</button>
        </div>
        <div class="col-sm-2">
          <a class="btn btn-outline-secondary w-100 mt-2" href="{% url 'peshang_petrol:customer-accounts' customer.id %}"><i class="fa-solid fa-rotate-left fa-lg"></i>پێشوو</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="card bg-light" dir="rtl">
            <div class="card-header text-center">
              <span >حساباتی / {{customer.fullName}}</span>
            </div>
            <div class="card-body">
                {% if records %}
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-nowrap align-middle text-center">
                            <thead>
                              <tr> 
                                <th scope="col">تۆمار</th>  
                                <th scope="col">بابەت</th>
                                <th scope="col">بڕ</th>                           
                                <th scope="col">نرخ </th>
                                <th scope="col">بەفیڕۆچوو</th>
                                <th scope="col">بەروار</th>
                                <th scope="col">کۆی گشتی پارە</th>
                                <th scope="col">بڕی واصڵکراو</th>
                                <th scope="col">بڕی ماوە </th>
                                <th scope="col">کۆتا حیساب</th>
                                <th scope="col">تێبینی</th>
                                <th scope="col">بەرواری تۆمار</th>                                                                                                                                                                
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for record in records %}
                              <tr>  
                                <td>{{record.id}}</td>
                                <td>{%if record.item == None %}واصڵکردن{%else%}{{record.item}} {%endif%}</td>
                                <td>{%if record.item == None %}{%else%}{{record.amount}}<span class="text-danger">{{record.buy_unit}}</span> {%endif%}</td>
                                <td>{%if record.item == None %}{%else%}{{record.sell_price}} {%endif%}</td>
                                <td>{%if record.item == None %}{%else%}{{record.lost_amount}} {%endif%}</td>
                                <td>{{record.sell_date}}</td>
                                <td>{%if record.item == None %}{%else%}{{record.total_money}} {%endif%}</td>
                                <td>{{record.paid_money}}</td>
                                <td>{%if record.item == None %}{%else%}{{record.loan_money}} {%endif%}</td>
                                <td style="font-weight: bold; color: red;">{{record.last_account}}</td>
                                <td>{{record.note}}</td>
                                <td>{{record.entry_date}}</td>
                                <td>
                                   <a  href="{% url 'peshang_petrol:print-customer-account' record.id %}" class="btn btn-secondary me-1"><i class="fa-solid fa-file-invoice fa-lg"></i></a>
                                   <a  href="{% url 'peshang_petrol:edit-sell-record' record.id %}" class="btn btn-warning me-1"><i class="fa-solid fa-file-pen fa-lg"></i></a>
                                   <button type="button" class="btn btn-danger me-1" data-bs-toggle="modal" data-bs-target="#delete{{record.id}}"><i class="fa-sharp fa-solid fa-trash fa-lg"></i></button> 
                                    <!-- Delete Model-->
                                    <div class="modal" id="delete{{record.id}}" tabindex="-1" aria-hidden="true" aria-labelledby="mymodellabel2">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title text-center">{% if record.item == None %} {% else %}{{record.item}}{% endif%}</h5>
                                            </div>
                                            <div class="modal-body" dir="rtl">
                                                <p>
                                                   دڵنیای لە سڕینەوەی تۆماری ژمارە    {{record.id}}؟
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                              <form method="POST" action=" {% url 'peshang_petrol:delete-sell-record' record.id %} ">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-primary" value="سڕینەوە"/>
                                              </form>  
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">پەشیمانم</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>                                                                        
                               
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </p>
                {% else %}
                <h4 class="card-title text-center">هیچ تۆمار نەکراوە!</h4>
                {% endif%}
            </div>
            {% if pagination %}
            <div class="card-footer text-center">
              {% if records.has_previous %}
                <a  class="text-decoration-none" href="?page=1">&laquo; سەرەتا</a>
                <a  class="text-decoration-none" href="?page={{records.previous_page_number}}"> پێشتر </a>
              {% endif %} &#10088; پەڕەی {{records.number}} لە {{records.paginator.num_pages}} &#10089;
              {% if records.has_next %} 
                <a  class="text-decoration-none" href="?page={{records.next_page_number}}">دواتر</a>
                <a  class="text-decoration-none" href="?page={{records.paginator.num_pages}}"> کۆتا &raquo;</a>
              {% endif %}              
            </div>
            {% endif %} 
          </div>
    </div>
</div>
 
{% endblock %}
 