{% extends 'peshang_petrol/base.html' %}
{% load static %}
{% block body %}
{% if success %}
<script>
    location = "{% url 'peshang_petrol:index' %}";
</script>
{% else %}

<div class="card bg-light mb-3 mt-4" dir="rtl">
    <div class="card-header text-center">واصڵکردنی پارە بۆ {{customer.fullName}}</div>
    <div class="card-body">
        <form action="{% url 'peshang_petrol:to-customer-enter-money' customer.id %}" method="POST">
            {% csrf_token %}            
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">زیادکردن</button>
            <a href="{% url 'peshang_petrol:index' %}" class="btn btn-secondary">گەڕانەوە</a>
        </form>
    </div>
    </div>
{% endif %}
{%if messages%}
<div class="row p-0 m-0 mt-4">
  <div class="col-sm text-center p-0 m-0">             
    {%for message in messages%}
      <div class="alert alert-warning" role="alert">
      {{message}} 
    </div>
    {%endfor%}           
  </div>
  </div>
  {%endif%}
{% endblock %}

 
