{% extends 'awat_petrol/base.html' %}
{% load static %}
{% block body %}
{% if success %}
<script>
    location = "{% url 'awat_petrol:view-users' %}";
</script>
{% else %}

<div class="card bg-light mb-3 mt-4" dir="rtl">
    <div class="card-header h4"><i class="fa-solid fa-key fa-lg"></i> گۆڕینی وشەی نهێنی بۆ {{username}}</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <input type="password" class="form-control mb-1" name="old_password" placeholder="وشەی نهێنی کۆن" autocomplete="off" required>           
            <input type="password" class="form-control mb-1" name="new_password1" placeholder="وشەی نهێنی نوێ" autocomplete="off" required>
            <ul class="text-primary" style="font-size: 12px;">
                <li>نابێ وشەی نهێنی لە ناوی بەکارهێنەر بچێت.</li>
                <li>پێویستە وشەی نهێنی لە ٨ کارەکتەر کەمتر نەبێت.</li>
                <li>نابێ وشەی نهێنی تەنها ژمارە بێت.</li>
            </ul>
            <input type="password" class="form-control mb-1" name="new_password2" placeholder="وشەی نهێنی نوێ بنوسەوە" autocomplete="off" required>
            <ul class="text-primary" style="font-size: 12px;">
                <li>پێویستە هەمان وشەی نهێنی سەرەوە لێرە بنوسیتەوە.</li>
            </ul>   
            <button type="submit" class="btn btn-primary">گۆڕانکاری</button>
            <a href="{% url 'awat_petrol:view-users' %}" class="btn btn-secondary">گەڕانەوە</a>
        </form>
    </div>
    </div>
{% endif %}

{%if messages%}
<div class="row p-0 m-0 mt-4">
  <div class="col-sm text-center p-0 m-0">             
    {%for message in messages%}
      <div class="alert alert-warning" role="alert">
      {{message}} 
    </div>
    {%endfor%}           
  </div>
  </div>
  {%endif%}

{% endblock %}

 
