{% extends 'awat_petrol/base.html' %}
{% block body %}
<div class="row mt-4">
    <div class="col-12">
        <div class="card bg-light" dir="rtl">
            <div class="card-header">
            </div>
            <div class="card-body">
                {% if items %}
                <div class="card-text">
                  {% for item in items %}
                  <div class="row mt-2">
                    <div class="col">
                      <a type="button" href="{% url 'awat_petrol:add-item' %}" class="btn btn-warning"> <i class="fa-sharp fa-solid fa-plus fa-lg"></i> {{item.name}}</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% else %}
                <h4 class="card-title text-center">هیچ ماددەیەک تۆمارنەکراوە</h4>
                {% endif%}
            </div>
          </div>
    </div>
</div>
{%if messages%}
<div class="row p-0 m-0 mt-4">
  <div class="col-sm text-center p-0 m-0">             
    {%for message in messages%}
      <div class="alert alert-warning" role="alert">
      {{message}} 
    </div>
    {%endfor%}           
  </div>
  </div>
  {%endif%}
{% endblock %}
