{% extends 'awat_petrol/base.html' %}
 
{% block body %}
<div class="row mt-4">
    <div class="col-12">
        <div class="card bg-light" dir="rtl">
            <div class="card-header">
              <a type="button" href="{% url 'awat_petrol:show-tanks' %}" class="btn btn-light float-right text-success ms-2"><i class="fa-solid fa-weight-scale"></i> تانکیەکان</a>
              <a type="button" href="#" class="btn btn-light float-right text-success "><i class="fa-solid fa-file-excel fa-lg"></i> هەڵگرتنی کۆگا  Excel </a>              
            </div>
            <div class="card-body">
                {% if data %}
                <p class="card-text">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center text-nowrap align-middle">
                            <thead>
                              <tr>
                                <td scope="col"><i class="fa-solid fa-explosion"></i></td>
                                <td scope="col">ناوی ماددە</td>
                                <td scope="col">بڕ بە لیتر</td>
                                <td scope="col">بڕ بە تەن</td>
                                <td scope="col"></td>
                              </tr>
                            </thead>
                            <tbody>
                            {% for x in data %}
                              <tr class="table-active">

                                <td>
                                  <a type="button" href="{% url 'awat_petrol:edit-store' x.id %}" class="btn btn-warning me-1">
                                    <i class="fa-solid fa-pencil fa-lg"></i>
                                </a> 
                                </td>
                                <td>{{x.item}}</td>
                                <td>{{x.amount}}</td>
                                <td>{% if x.item.buy_unit.name == 'Tn'%} <script> document.write(Math.round("{{x.amount}}"/"{{x.item.buy_unit.to_liter}}"* 10000) / 10000);</script> {% endif %}</td>
                                <td>                                                              
                                  {% if x.item.convert_warning_amount_to_Lt >  x.amount %}                                                           
                                   <i class="fa-solid fa-triangle-exclamation fa-lg text-danger"></i>                             
                                  {% endif %} 
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </p>
                {% else %}
                <h4 class="card-title text-center"> هیچ ماددەیەک تۆمارنەکراوە </h4>
                {% endif%}
            </div>
            {% if pagination %}
            <div class="card-footer text-center">
              {% if data.has_previous %}
                <a  class="text-decoration-none" href="?page=1">&laquo; سەرەتا</a>
                <a  class="text-decoration-none" href="?page={{data.previous_page_number}}"> پێشتر </a>
              {% endif %} &#10088; پەڕەی {{data.number}} لە {{data.paginator.num_pages}} &#10089;
              {% if data.has_next %} 
                <a  class="text-decoration-none" href="?page={{data.next_page_number}}">دواتر</a>
                <a  class="text-decoration-none" href="?page={{data.paginator.num_pages}}"> کۆتا &raquo;</a>
              {% endif %}              
            </div>
            {% endif %}             
          </div>
    </div>
</div>
{% endblock %}
